.header{
  background:green;
  height:100px;
  border-bottom:5px solid #fff;
}

.banner{
  height:100px;
  border-bottom:5px solid #fff;
}

.b1{
  background:blue;
  height:100%;
  width:25%;
  border-right:5px solid #fff;
  box-sizing: border-box;  
  display: inline-block;
  margin-right:-4px;
}

.b2{
  background:blue;
  height:100%;
  width:25%;
  display: inline-block;
  margin-right:-4px;
}

.left{
  height:700px;
  width:20%;
  display:inline-block;
  border-right:5px solid #fff;
  box-sizing: border-box;
}

.l1{
  background:red;
  height:20%;
  width:100%;
  border-bottom:5px solid #fff;
  box-sizing: border-box;
}

.l2{
  background:red;
  height:20%;
  width:100%;
}

.right{
  background:yellow;
  height:700px;
  width:80%;
  display:inline-block;
  margin-left:-4px;
}

.clock{
  background: orange;
  float: right;
  padding: 10px;
  text-align: right;
}

#date{
  font-size: 30px;
  font-weight: bold;
}

#day{
  font-size: 30px;
  font-weight: bold;
}

#time{
  font-size: 25px;
}

.footer{
  background:black;
  height:200px;
  border-top:5px solid #fff;
  margin-top:-4px;
}